@import './fonts';
@import './variables';
@import './libs/normalize';
@import './components/all';

body {
  background-color: $background;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.wrapper {
  width: calc(122vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
}

.content {
  padding: 40px 0;

  @media (max-width: 545px) {
    padding: 20px 0px;

  }

  &__title {
    font-size: 50px;

    @media (max-width: 1100px) {
      text-align: center;
    }

    @media(max-width: 480px) {
      h2 {
        display: none;
      }
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px 20px;

    @media (max-width: 1400px) {
      grid-template-columns: repeat(3, 1fr);

    }

    @media (max-width: 1100px) {
      grid-template-columns: repeat(2, 1fr);

    }

    @media (max-width: 760px) {
      grid-template-columns: repeat(1, 1fr);

    }


  }

  &__top {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;

    @media (max-width: 1270px) {
      .categories {
        width: 100%;
        overflow: auto;

        ul {
          width: 785px;
          padding-bottom: 20px;
        }
      }

    }



    @media (max-width: 800px) {
      flex-direction: column;
    }
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  &--cart {
    max-width: 820px;

    .content__title {
      margin: 0;

    }
  }
}

.error__body {
  margin: 0 auto;
  width: 560px;
  text-align: center;

  h2 {
    font-size: 32px;
    margin: 20px 0px;
  }

  p {
    font-size: 18px;
    line-height: 145.4%;
    letter-spacing: 0.01em;
    color: #777777;
  }
}

.pagitation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
